/* Write your CSS here */
.container {
  background-color: #07080c;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.tittle {
  color: #ffffff;
  font-weight: bold;
  font-family: roboto;
text-align: center; 
}
.image {
  height: 40vh;
}
.speedMeter {
  color: #ffffff;
  font-weight: bold;
  font-family: roboto;
  text-align: center;
}
.speed {
  color: #ffffff;
  font-weight: bold;
  font-family: roboto;
}
.para {
  color: #cbd5e1;
  font-family: roboto;
text-align: center;  
}
.button1 {
  color: #ffffff;
  background-color: #0b69ff;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}
.button2 {
  color: #94a3b8;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  border-color: #94a3b8;
}
.button-container {
  display: flex;
  flex-direction: row;
justify-content: center;  
}
